@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    Layout = "~/Pages/Shared/_homeLayout.cshtml";
}

<section class="home" id="home">
    <div class="content">
        <h3>Handmade</h3>
        <span>Độc đáo - Sáng tạo - Tinh tế</span>
        <p>
            Mang sự ấm áp và dịu dàng tới mọi góc nhỏ của cuộc sống! <br />
            Khám phá ngay các sản phẩm và trải nghiệm sự thú vị của việc tự tay
            làm đồ Handmade cùng với chúng tôi.
        </p>
        <a href="./LoginView.html" class="btn">Khám phá ngay</a>
    </div>
</section>